.btn-yes {
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  background: rgb(11, 185, 78);
}

.btn-no {
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  background: rgb(187, 15, 15);
}
