

.btn {
  background: transparent;
  font: inherit;
  color: #fff;
  margin: 10px;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

.success {
  background: rgb(11, 185, 78);
  color: fff;
}

.danger {
  background: rgb(187, 15, 15);
}