.builder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
}

.builder button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 12px;
  width: 80px;
  background: #9c27b0;
  border-radius: 3px;
  outline: none;
  border: none;
  color: #fff;
}

.builder div {
  color: #8e24aa;
  margin: 0 12px;
}
